#=========================================================================
# Git Ignore Files
#=========================================================================

main/
pico-examples/
pico-sdk/
PICO_SPI_CAM/